@import "./assets/css/App.scss";
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1024px;
  margin: auto; /* Center the body */
}

a {
  text-decoration: none;
  color: #000;
}
